.Form {
    margin: 2rem;

    display: flex;
    flex-direction: column;

    flex-grow: 1;
}

.Form #heading {
    margin: 0;
}

.Form #subheading {
    margin: 0.5rem 0rem 1rem 0rem;
}

.Form #fields {
    display: flex;
    justify-content: space-between;
}

.Form #fields input {
    width: 15rem;
}

.Form #fields #description {
    height: 20vb;
    width: 40vb;

    padding: 1rem;
}

.Form #fields #rate {
    display: flex;

    justify-content: right;
    align-items: center;

    gap: 1rem;
}

.Form #fields #rate h3 {
    margin: 0;
}

.Form #controls {
    display: flex;
    justify-content: space-between;

    margin-top: 3rem;
}

.Form #controls button {
    width: 7rem;
}