.Account
{
    display: flex;
}

.Details {
    text-align: left;

    display: flex;
    
    flex-direction: column;
    flex-grow: 1;

    margin: 2rem;
}

.Details input {
    width: 15rem;
}

.Details h1 {
    margin: 0;
}

.Fields {
    display: flex;
    justify-content: space-between;
}

.Fields .Description {
    height: 20vb;
    width: 40vb;

    padding: 1rem;
}

.Fields .Rate {
    display: flex;

    justify-content: right;
    align-items: center;

    gap: 1rem;
}

.Fields .Rate h3 {
    margin: 0;
}

.Controls {
    display: flex;
    justify-content: space-between;

    margin-top: 3rem;
}

.Controls button {
    width: 7rem;
}