body {
    text-align: center;

    background-color: #282A36;

    display: flex;
    flex-direction: column;
}

.Question {
    margin-top: 5rem;
    font-size: 40px;
}

.Features {
    display: flex;
    justify-content: center;

    margin: 2rem;
    gap: 5rem;
}

.Features div {
    display: flex;
    flex-direction: column;

    width: 15rem;
    min-width: 15rem;
}

.Features img {
    margin-bottom: 2rem;
    object-fit: contain;
    max-height: 7rem;
}