.Filter {
    display: flex;
    flex-direction: column;

    min-width: fit-content;
    min-height: 100vh;

    padding: 1.2rem;

    text-align: left;

    border-color: #008FFF;

    border-width: 0px 3px 0px 0px;
    border-style: solid;
}

.Filter h1 {
    margin: 0;
    font-size: 20px;
}

.Filter hr {
    margin: 0.75rem 0 0.75rem 0;

    width: 35%;
    height: 3px;

    background-color: #F8F8F8;
}

.Filter .Options {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.Filter .Options .Location {
    padding: 0.4rem;
}

.Filter .Options input {
    width: 100%;

    padding: 0;
    margin: 0;
}

.Filter .Options div {
    display: flex;
    justify-content: space-between;
}

.Filter .Options p {
    margin: 0;
}

.Filter button {
    width: 60%;
    margin-top: 1.4rem;
}