nav {
    padding: 0.6rem;

    padding-inline-end: 1.2rem;
    padding-inline-start: 1.2rem;

    background-color: #21222C;
    border-color: #008FFF;

    border-width: 0px 0px 3px 0px;
    border-style: solid;

    display: flex;
    flex: 1;

    align-items: center;
}

nav #logo {
    margin-right: 3rem;

    width: fit-content;
    height: fit-content;
}

nav #logo:hover {
    cursor: pointer;
}

nav div {
    display: flex;
    align-items: center;
}

nav div:hover {
    cursor: pointer;
}

nav div h1 {
    padding: 0px;
    font-size: 18px;
}

nav div svg {
    margin-right: 10px;
}

nav #item {
    margin-right: 3rem;
}