.Waggly .Settings {
  display: flex;
  flex-direction: column;

  min-width: fit-content;
  min-height: 100vh;

  max-width: fit-content;

  padding: 1.2rem;

  text-align: left;

  border-color: #008fff;

  border-width: 0px 3px 0px 0px;
  border-style: solid;
}

.Waggly .Settings h1 {
  margin: 0;
  font-size: 20px;
}

.Waggly .Settings hr {
  margin: 0.75rem 0 1.3rem 0;

  width: 35%;
  height: 3px;

  background-color: #f8f8f8;
}

.Waggly .Settings #options {
  display: flex;
  flex-direction: column;

  gap: 0.5rem;
}

.Waggly .Settings #options div {
  margin-bottom: 0.5rem;

  display: flex;
  align-items: center;

  gap: 0.7rem;
}

.Waggly .Settings #options div:hover {
  cursor: pointer;
}

.Waggly .Settings #options p {
  margin: 0;
}
