@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin: 0;
    overflow: hidden;

    font-family: 'Roboto', sans-serif;
    color: #F8F8F8;
}

button {
    padding: 0.4rem;
    border-radius: 5px;

    background-color: #2e313d;
    border-color: #F8F8F8;

    color: #F8F8F8;
}

button:hover {
    background-color: #3a3e4d;
}

button:active {
    background-color: #23262f;
    outline: none;
}

input {
    padding: 0.4rem;

    border-radius: 5px;
    border-style: solid;

    background-color: #2e313d;
    border-color: #F8F8F8;

    color: #F8F8F8;
}

input:hover {
    background-color: #3a3e4d;
}

input:focus {
    background-color: #3a3e4d;
    outline: none;
}

input[type="range"] {
    -webkit-appearance: none;

    width: 100%;
    height: 10px;

    border-radius: 10px;

    background-color: #2e313d;
    border-color: #F8F8F8;

    border-style: solid;
    border-width: 1px;
    
    outline: none;
}

input[type="range"]::-webkit-slider-thumb {
    appearance: none;

    width: 20px;
    height: 20px;

    border-radius: 10px;

    background-color: #F8F8F8;
    border-color: #2e313d;

    border-style: solid;
    border-width: 1px;

    cursor: pointer;
}

input[type="range"]:hover {
    background-color: #3a3e4d;
}

input[type="range"]:focus {
    background-color: #3a3e4d;
    outline: none;
}

textarea {
    resize: none;

    padding: 0.4rem;

    border-radius: 5px;
    border-style: solid;

    background-color: #2e313d;
    border-color: #F8F8F8;

    color: #F8F8F8;
}

textarea:hover {
    background-color: #3a3e4d;
}

textarea:focus {
    background-color: #3a3e4d;
    outline: none;
}